* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

*[hidden] {
	display: none;
}

body {
	background: #010002;
	font-family: monospace;
	font-size: 15px;
	min-width: 700px;
}

#background {
	width: 100%;
	word-break: break-all;
	color: #114300;
	font-size: 18px;
	overflow: hidden;
	position: absolute;
	top: 0;
	z-index: -1;
}

main {
	width: 700px;
	background: #DFE5E3;
	border: 1px solid #041703;
	box-shadow: 0 0 3px #041703;
	/*top: 100px;*/
	margin: 100px auto;
	padding: 30px 20px;
	text-align: center;
	/*z-index: 10;*/
}

.operation {
	font-size: 30px;
	text-transform: capitalize;
	text-decoration: none;
	color: #041703;
}

a.operations:focus {
	outline: none;
}

a.operations:active {
	outline: none;
}

.operation:visited {
	color: #041703;
}

.operation + .operation {
	margin-left: 80px;
}

.operation.chosen {
	border-bottom: 3px solid #319113;
}

form {
	margin-top: 40px;	
}

form > *:focus {
	outline: 1px solid #319113;
}

label + label {
	margin-left: 23%;
}

input[type="text"] {
	padding: 10px;
	height: 32px;
	width: calc(30% - 7px);
	border: 1px solid #041703;
	font-size: .8em;
}

select {
	margin-top: 10px;
	height: 32px;
	border-radius: 0;
	padding: 5px;
	color: #999999;
	width: calc(30% - 7px);
	border: 1px solid #041703;
	margin-left: 5px;
	-webkit-padding-start: 10px;
	-webkit-padding-end: 40px;
	-webkit-appearance: button;
	background: url(http://i62.tinypic.com/15xvbd5.png) no-repeat 94% 50%, #fff;
	background: -moz-linear-gradient(#fff, #fff);
}

option {
	padding-left: 30px;
	font-size: .8em;
	color: #999999;
}

textarea {
	margin-top: 13px;
	width: 60%;
	height: 200px;
	min-width: 60%;
	min-height: 200px;
	max-width: 85%;
	max-height: 500px;
	font-size: .8em;
	padding: 10px;
	border: 1px solid #041703;
}

button {
	padding: 5px 20px;
	border: 1px solid #333B40;
	background: #041703;
	color: #fff;
	height: 35px;
	margin-top: 10px;
	cursor: pointer;
}

button:hover {
	background: #319113;
}

hr {
	margin: 40px auto;
}

#output {
	margin: 10px auto;
	/*scrollbar-highlight-color: #D5E2F2;*/
}

#output-value {
	overflow-x: scroll;
	padding-bottom: 20px;
}

#output-value::-webkit-scrollbar {
	background-color: #DFE5E3;
}

#output-value::-webkit-scrollbar-thumb {
	background-color: #041703;
}

h2 {
	font-size: 1.7em;
	color: #041703;
	margin-bottom: 20px;
}

p {
	color: #030F01;
	line-height: 1.6em;
	width: 80%;
	margin: 10px auto;
}